div.organizer-view {
background-color:#393431;
border:none;
}


.listing-wrapper {
background-color:#2e2b2a;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #2E2B2A;
width:100%;
margin:0 auto 1em auto;
}

.listing-wrapper strong {
font-family:"TF2Build";
}

div.organizer-view table img.listing-avatar {
height:24px !important;
width:24px !important;
margin:0;
}


div.organizer-view table.chooser td {

}



.listing-table, .listing-table > tbody >  tr > td {
border:1px solid blue;
}

.listing-table {
border-collapse:collapse;
border-spacing:0 0;
}

.listing-table td {
vertical-align:top;
padding:0;
}

.w100 {
width:100%;
}

.w12 {
width:12%;
}

.w88 {
width:88%;
}

.browse-view-link > div {
}

.browse-view-link a.small-button {
}

.browse-view-link img {
vertical-align:middle;
}

.listing-description {
margin:1em;
}

.browse-view-summary {
border:1px solid red;
}

.browse-view-summary a.small-button {
margin-top:1em !important;
border:1px solid green;
}