div.listing-seed {
margin-bottom:0.75em;
}
.listing-owner-seed {
vertical-align:middle;
margin-top:0.25em;
}
.listing-owner-seed img {
vertical-align:middle;
}

#front-news label a:hover {
color:#c8503c;
}