#listing-detail-left {
float:left;
width:68%;
}

#listing-detail-right {
float:right;
width:30%;
}

#listing-detail-place-bid-pod > h1:first-child {
padding-top:1.25em;
padding-bottom:0.25em;
}

#listing-detail-owner-links ul {
padding:0.25em;
list-style: none;
}

#listing-detail-owner-links ul li {
padding:0.25em;
}


#listing-detail-auth-bid-pod a.button,
#listing-detail-cancel-prompt a.button  {
background-color:#9d302f;
color:#ece3cb;
}


div.listing-seed, div.bid-marker {
}


#listing-detail-bids > div.organizer-view {
margin-bottom:0.75em;
}

#listing-detail-terms-pod a {
text-decoration:underline;
}
