#listing-detail-left {
float:left;
width:44.5%;
}

#listing-detail-center {
float:left;
width:24.5%;
}

#listing-detail-right {
float:right;
width:28.5%;
margin:-2.5em 0.5em -2.5em 0;
}

#listing-detail-place-bid-pod > h1:first-child {
padding-top:1.25em;
padding-bottom:0.25em;
}

#listing-detail-owner-links ul {
padding:0.25em;
list-style: none;
}

#listing-detail-owner-links ul li {
padding:0.25em;
}


#content-main-pod a.button, #content-main-pod a.small-button  {
background-color:#385c78;
color:#ece3cb;
}

#content-main-pod a.button:hover, #content-main-pod a.small-button:hover  {
background-color:#9d302f;
}


.listing-detail-profile-bid-cancel-link a.small-button:active,
#listing-detail-auth-bid-pod a.button:active,
#listing-detail-cancel-prompt a.button:active { color:#2e2b2a; }

div.listing-seed, div.bid-marker {
}


#listing-detail-bids > div.ov {
margin-bottom:0.75em;
}

div.detail-view, div.ov {
padding:0.5em;
}


.bid-owner-seed img {
vertical-align:middle;
}


.bid-owner-seed {
vertical-align:middle;
margin-top:0.25em;
margin-left:0.5em;
}




.feedback-controls textarea {
width:100%;
height:10em;
}

.lister-rating, .bidder-rating {
float:left;
padding-top:0.5em;
}


#bidder-feedback-rating-slider {
margin:0.5em 0 1em 0;
width:90%;
}

#listing-detail-owner-neg-bar {
background-color:#9d302f;
}

#listing-detail-owner-pos-bar {
background-color:#385c78;
}


#listing-detail-owner-rating td {
padding:0.25em;
}



.feedback-view-pod {
background-color:#3C352E;
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
}


.owner {
padding:0.5em;

}
