#search-pod {
padding-top:0.5em;
overflow:auto;
width:100%;
}

#search-controls {
font-family:"TF2Build";
float:left;
width:11%;
}

#search-listing-pod {
float:right;
width:87%;
}

#search-listings div.listing-seed {
margin-bottom:0.75em;
}

.listing-owner-seed {
vertical-align:middle;
margin-top:0.25em;
}

.listing-owner-seed img {
vertical-align:middle;
}

#search-controls input {
margin-left:0.5em;
margin-right:0.5em;
}

#search-nav .navs {
text-align:center;
}

#backpack-nav-ac .pagecount {
padding-left:0.25em;
padding-right:0.25em;
}

/*
$$("listings a.small-button:contains('View')").width( $$('listings td.item-view:visible').first().width() )
*/
