#search-pod {
padding-top:0.5em;
overflow:auto;
width:100%;
}

#search-controls {
font-family:"TF2Build";
float:left;
width:15%;
}

#search-listing-pod {
margin-left:1em;
float:left;
width:83%;
}

#search-listings div.listing-seed {
margin-bottom:0.75em;
}

.listing-owner-seed {
vertical-align:middle;
margin-top:0.25em;
}

.listing-owner-seed img {
vertical-align:middle;
}

#search-controls input {
margin-left:0.5em;
margin-right:0.5em;
}

#search-nav .navs {
text-align:center;
}



#bp-ac div.bp-pages {
width:23.25em;
}

