@font-face { font-family:"TF2"; src:url("/media/ttf/TF2.ttf"); }
@font-face { font-family:"TF2Build"; src:url("/media/ttf/TF2Build.ttf"); }
@font-face { font-family:"TF2secondary"; src:url("/media/ttf/TF2secondary.ttf"); }

* { margin:0; padding:0; }

body {
background-color:#393431;
color:#ebe2ca;
font-family:"TF2secondary", Verdana, Arial, Sans-Serif;
font-size:1em;
min-height:42em;
height:42em;
}

a { color:#ece3cb; text-decoration:none; outline-style:none; }
h1, h2, h3, h4 { font-family:"TF2Build"; }
h1 { color:#ebe2ca; font-size:135%; }
h2 { color:#827868; font-size:110%; }
img { border:none; }
label { display:block; font-family:"TF2Build"; }
p { color:#827868; font-size:110%; margin-bottom:1em; }
strong { font-family:"TF2Build"; }

input[type=text] {
line-height:1em;
padding:0.35em 1.5em 0.35em 0.25em;
border:3px solid #847668;
}

.build-font { font-family:"TF2Build";}
.center { margin:0 auto 0 auto; }
.clear { clear:both; }
.text-center { text-align:center; }
.text-left   { text-align:left;   }
.text-right  { text-align:right;  }
.defindex-lazy { display:none; position:relative;}
.desc { overflow:auto; }
.null { display:none; }
.nowrap { white-space:nowrap !important; }

.button, .small-button {
background-color:#766b5e;
border-bottom:none !important;
border-radius:0.25em; -moz-border-radius:0.25em; -webkit-border-radius:0.25em;
color:#ece3cb;
font-family:"TF2Build";
height:1.5em;
line-height:1.5em;
padding:0.6em 0.75em 0.6em 0.75em;
text-align:center;
vertical-align:middle;
white-space:nowrap !important;
}

.button:hover, .small-button:hover {
background-color:#924738;
color:#ece3cb;
}


.button:active, .small-button:active {
color:#2e2b2a;
}

.small-button {
font-size:90%
height:1em;
line-height:1em;
padding:0.35em 1.5em 0.25em 1.5em;
}

.small-item-button {
width:5.05em !important;
padding-left:0;
padding-right:0;
display:inline-block;
height:1em;
vertical-align:middle;
}

.big-button {
background-color:#9a8b6b;
background: -moz-linear-gradient(top, #dcd2ba, #9a8b6b);
background: -webkit-gradient(linear, left top, left bottom, from(#dcd2ba), to(#9a8b6b));
border-radius:0.25em; -moz-border-radius:0.25em; -webkit-border-radius:0.25em;
color:#2e2b2a;
font-family:"TF2Build";
height:1.5em;
line-height:1.5em;
padding:0.65em 0.75em 0.65em 0.75em;
text-align:center;
vertical-align:middle;
white-space:nowrap !important;
}

.big-button:hover {
background-color:#512a20;
background: -moz-linear-gradient(top, #995040, #512a20);
background: -webkit-gradient(linear, left top, left bottom, from(#995040), to(#512a20));
color:#ebe2ca;
}

/* start organizer view, detail view */
div.detail-view, div.ov {
background-color:#2e2b2a;
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
border:0.25em solid #2E2B2A;
padding:0.25em;
}

div.ov .outline, div.items-view .outline, div.item-view .outline {
border:0.25em solid #847668 !important;
}

div.ov span.mono {
opacity: 0;
-webkit-transition: opacity 0.5s ease-in-out;
-moz-transition-property: opacity;
-moz-transition-duration: 0.5s;
-moz-transition-timing-function: ease-in-out;
}


div.ov:hover span.mono {
opacity:1;
}


div.ov .selected {
background-color:#ece3cb !important;
border:0.25em solid #ece3cb !important;
}

div.ov .selected-delete {
background-color:#9d302f !important;
border:0.25em solid #9d302f !important;
}

div.items-view table img, div.ov table img {
height:4em !important;
margin-left:0.575em;
}

div.items-view table td, div.ov table.chooser td, div.ov table.backpack td, div.ov table.unplaced td {
background-color:#3c352e;
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
border:0.25em solid #2E2B2A;
height:4em !important;
max-height:4em !important
max-width:5.15em !important;
min-height:4em !important
min-width:5.15em !important;
width:5.15em !important;
}

div.ov table.unplaced td {
background-color:#2E2B2A
}

div.items-view table td div, div.ov table.chooser td div, div.ov table.backpack td div, div.ov table.unplaced td div {
height:4em !important;
width:100% !important;
}

div.ov .cannot-trade, div.ov .active-listing, div.ov .active-bid {
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
border:0.25em solid #2E2B2A !important;
}

div.ov .active-listing { border-color:#9d302f !important; }
div.ov .active-listing img { opacity:0.33; }
div.ov .active-bid { border-color:#385c78 !important; }
div.ov .cannot-trade { background-color:#252221 !important; }


div.tools { margin:1em auto 1em auto; }
div.tools div.navs span.nonav, div.tools div.navs span.nav a {
background-color:#766b5e;
border-bottom:none !important;
border-radius:0.25em; -moz-border-radius:0.25em; -webkit-border-radius:0.25em;
height:1.5em;
line-height:1.5em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
}

div.tools div.navs span.nav a:active  { color:#2a2725 !important;}
div.tools div.navs span.nonav { color:#2a2725; }
div.tools div.navs span.nav a { color:#ece3cb; }
div.tools div.navs span.nav a:hover {
background-color:#924738;
color:#ece3cb;
}
div.tools div.navs span.pagecount {
color:#c8503c;
display:inline-block;
font-size:135%;
text-align:center;
vertical-align:middle;
width:2em;
}

span.hilite, span.hi { color:#c8503c; }
span.hilite:before { content:">>"; }


img.equipped { margin-top:-0.35em; }
img.unequipped-133 { padding-top:0.5em; }
img.equipped-133 { margin-top:0; }
img.equipped-183 { margin-top:0; }

span.badge {
background-color:black;
border-radius:0.5em; -moz-border-radius:0.5em; -webkit-border-radius:0.5em;
font-family:"TF2secondary";
font-size:0.85em;
color:#c8503c;
padding:0.25em 0.4em 0.25em 0.4em;
}

span.equipped {
padding:0.25em 0.4em 0.25em 0.4em;
position:absolute;
width:4.25em;
bottom:0.35em;
right:0.35em;
}

span.quantity {
padding:0.3em 0.3em 0.2em 0.3em;
position:absolute;
left:0.35em;
top:0.35em;
}

/*
from the tf2 wiki:

Colour Rarity Name
B2B2B2 Standard
476291 Vintage
FFD800 Unique
70B04A Community
A50F79 Developer
874FAD Unusual

*/
.quality-0  { color:#B2B2B2; } /* normal */
.quality-1  { color:#B2B2B2; } /* common */
.quality-2  { color:#B2B2B2; } /* rare */
.quality-3  { color:#476291; } /* vintage */
.quality-5  { color:#874FAD; } /* unusual */
.quality-6  { color:#FFD800; } /* unique */
.quality-7  { color:#70B04A; } /* community */
.quality-8  { color:#A50F79; } /* developer */
.quality-9  { color:#70B04A; } /* self-made */
.quality-10 { color:#70B04A; } /* custom */


/*
    note that the background colors were manually selected from an
    opacity of 0.5 applied to the base (border) color while over an
    div.ov which had a bg color of #2E2B2A.

    also note that the outline styling (via javascript hover events)
    is only applied to specific (tradable) qualities.

*/
.border-quality-0 { border-color:#B2B2B2 !important; } /* normal */
.background-quality-0 { background-color:#706E6E !important; }

.border-quality-1 { border-color:#B2B2B2 !important; } /* common */
.background-quality-1 { background-color:#706E6E !important; }

.border-quality-2 { border-color:#B2B2B2 !important; } /* rare */
.background-quality-2 { background-color:#706E6E !important; }

.border-quality-3  { border-color:#476291 !important; } /* vintage */
.background-quality-3 { background-color:#6279a1 !important; }
/* inverse on hover */
td.border-quality-3.outline  { border-color: #6279a1 !important; }
td.background-quality-3.outline { background-color:#476291 !important; }


.border-quality-5  { border-color:#874FAD !important; } /* unusual */
.background-quality-5 { background-color:#5A3C6B !important; }
/* inverse on hover */
td.border-quality-5.outline  { border-color:#5A3C6B !important; }
td.background-quality-5.outline { background-color:#874FAD !important; }



.border-quality-6  { border-color:#FFD800 !important; } /* unique */
.background-quality-6 { background-color: #9D8617 !important; }
/* inverse on hover */
td.border-quality-6.outline {background-color:#FFD800 !important;}
td.background-quality-6.outline { border-color: #9D8617 !important; }


.border-quality-7  { border-color:#70B04A !important; } /* community */
.background-quality-7  { background-color:#4F6D3A  !important; }

.border-quality-8  { border-color:#A50F79 !important; } /* developer */
.background-quality-8  { background-color:#691C51 !important; }

.border-quality-9  { border-color:#70B04A !important; } /* self-made */
.background-quality-9  { background-color:#4F6D3A  !important; }

.border-quality-10  { border-color:#70B04A !important; } /* custom */
.background-quality-10  { background-color:#4F6D3A  !important; }


.message div {
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
color:#fff;
font-family:"TF2Build";
margin-bottom:0.5em;
margin-top:0.5em;
opacity:0.9;
padding:0.5em;
text-align:center;
}


.msg div {
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
color:#fff;
opacity:0.9;
}

.winner {
background-color:rgba(146, 71, 56, 0.5);
border:0.25em solid rgba(146, 71, 56, 1);
}

.error {
background-color:rgba(157, 48, 47, 0.15);
border:0.25em solid rgba(189, 58, 58, 0.75);
}

.warning {
background-color:rgba(239, 152, 73, 0.35);
border:0.25em solid rgba(241, 129, 73, 0.75);
}

.information {
background-color:rgba(56, 92, 120, 0.5);
border:0.25em solid rgba(91, 122, 140, 0.5);
}

.m1   { margin:1em; }
.m2   { margin:2em; }
.m05  { margin:0.5em; }
.mb05 { margin-bottom:0.5em; }
.mb1  { margin-bottom:1em; }
.ml1  { margin-left:1em; }
.mr05 { margin-right:0.5em; }
.mr1  { margin-right:1em; }
.mt05 { margin-top:0.5em; }
.mt1  { margin-top:1em; }
.mt2  { margin-top:2em; }
.mtb1 { margin-top:1em; margin-bottom:1em; }
.pt05 { padding-top:0.5em; }
.pb05 { padding-bottom:0.5em; }

.w12  { width:12%; }
.w15  { width:15%; }
.w20  { width:20%; }
.w25  { width:25%; }
.w40  { width:40%; }
.w49  { width:49%; }
.w50  { width:50%; }
.w59  { width:59%; }
.w75  { width:75%; }
.w83  { width:83%; }
.w88  { width:88%; }
.w100 { width:100%; }
.mono { font-family: Andale Mono, monospace; font-size:0.75em; }
.float-left { float:left; }
.float-right { float:right; }
.w49 { width:49%; }
.p1 { padding:1em }
.p05 { padding:0.5em;}


.owner-links {
font-family:"TF2Build";
margin:0.5em auto 0.5em auto;
}

a.nice, .owner-links a {

border-bottom:1px solid;
}

a.nice:hover, .owner-links a:hover {
color:#c8503c;
border-bottom:none;
}

.listings-large { width:100%; }

.listings-large td.view-link {
border:1px solid green;
width:5em;
}

.listings-large tbody tr:last-child td:last-child { padding-bottom:1em; }

.cannot-trade img {
filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
opacity:0.5; /* TODO: add opacity to parent selectors, too */
}


.terms-dialog {
margin:1em;
padding:1em;
color:black;
background-color:white;
}

.owner {
background-color:#332f2d;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #847c69;
a-padding:0.5em 0.25em 1em 0.25em;
color:#ece3cb;
}


.listing-view {
border-spacing:0;
}


.listing-view td {
vertical-align:top;
}

.valign-middle { vertical-align:middle; }
.valign-top { vertical-align:top; }

.listing-view img.listing-avatar, .bid-owner-seed img.bid-avatar, img.msg-avatar {
height:24px !important;
width:24px !important;
}

.listing-owner-seed {
vertical-align:middle;
margin-top:0.25em;
}

.listing-owner-seed img {
vertical-align:middle;
}

/*

tooltip styling

*/
#tooltip {
background:#000;
background: -moz-linear-gradient(top, #38332D, #221E1A);
background: -webkit-gradient(linear, left top, left bottom, from(#38332d), to(#221e1a));
border-bottom:1px solid #1B1815;
border-left:1px solid #453F36;
border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;
border-right:1px solid #453F36;
border-top:1px solid #786B5C;
overflow:hidden;
padding:0;
position:absolute;
text-align:center;
z-index:9002;
}

#tooltip-top-shim {
padding-left:4px;
padding-right:4px;
border-top:1px solid #24201C;
}

#tooltip-inner {
padding:1em;
}

#tooltip h4 {
font-family:"TF2Build";
font-size:12pt;
margin-bottom:1em;
white-space:nowrap;
}

#tooltip h4.valve { color:#aa00aa; }
#tooltip h4.community { color:#00aa00; }

#tooltip .level, #tooltip .alt, #tooltip .positive, #tooltip .negative {
font-family:"TF2secondary";
font-size:11pt;
}

#tooltip .level { color:#756b5e; }
#tooltip .vintage { color:#476291; }
#tooltip .ctrl { color:#fff; text-align:left; }
#tooltip .alt { color:#e4dbc4; }
#tooltip .positive { color:#8dbceb; }
#tooltip .negative { color:#eb3b3b; }



/* content macro */
#content-header-pod {
background-image:url('/media/img/header_bg.png');
background-repeat:repeat-x;
border-bottom:0.25em solid #84756b;
}

#content-header {
height:96px;
margin:0 auto 0 auto;
position:relative;
top:0;
width:85%;
}


#content-main-logo {
left:0;
position:absolute;
top:8px;
}


#content-site-buttons {
position:absolute;
right:0;
top:1em;
font-size:80%;
width:60%;
text-align:right;
}

#content-site-categories {
position:absolute;
right:0;
top:3.5em;
text-align:right;
}


#content-site-buttons span, #content-site-buttons img { vertical-align:middle; }


#content-avatar-pod img {
margin-top:-0.25em; /* for the border */
a-height:2.25em;
a-width:2.25em;
}


#content-site-message {
background-color:#111;
border-radius:0.5em; -moz-border-radius:0.5em; -webkit-border-radius:0.5em;
border:3px solid #000;
color:#fff;
font-family:Verdana, Arial, Sans-Serif;
font-weight:bold;
opacity:0.5;
padding:0.5em 1.5em 0.5em 1em;
position:fixed;
bottom:1em;
right:1em;
z-index:9000;
}


#content-main-pod {
margin: 1em auto 0 auto;
min-height:100%;
position:relative;
width:85%;
}


#content-footer-pod {
a-bottom:0;
color:#827868;
height:3em;
margin:0 auto 0 auto;
padding-top:2em;
a-position:relative;
width:100%;
}



.help {
color:#827868;
font-size:0.9em;
font-family:"TF2secondary", Verdana, Arial, Sans-Serif;
}


table.backpack > tbody > tr > td > div, table.chooser > tbody > tr > td > div {
position:relative;
}

.jewel {
height:26px !important;
width:26px !important;
background-repeat:no-repeat;
position:absolute;
right:2px;
top:2px;
}

.jewel-10843461 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/10843461.png'); }
.jewel-12955537 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/12955537.png'); }
.jewel-1315860 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/1315860.png'); }
.jewel-13595446 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/13595446.png'); }
.jewel-14204632 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/14204632.png'); }
.jewel-15132390 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/15132390.png'); }
.jewel-15185211 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/15185211.png'); }
.jewel-4345659 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/4345659.png'); }
.jewel-5322826 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/5322826.png'); }
.jewel-6901050 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/6901050.png'); }
.jewel-7511618 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/7511618.png'); }
.jewel-8154199 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/8154199.png'); }
.jewel-8208497 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/8208497.png'); }
.jewel-8289918 { background-image:url('http://tf2apiproxy.appspot.com/media/img/jewels/8289918.png'); }


.profile-status {
border:4px solid;
border-radius:0.25em; -moz-border-radius:0.25em; -webkit-border-radius:0.25em;
}

#content-avatar-pod img.profile-status,
.bid-owner-seed img.profile-status,
.listing-owner-seed img.profile-status {
border:2px solid;
border-radius:0.15em; -moz-border-radius:0.15em; -webkit-border-radius:0.15em;
}

.in-game { /* green */
border-color: #B1FB50;
color: #B1FB50;
}

.online { /* blue */
border-color:#6FBDFF;
color:#6FBDFF;
}

.offline { /* gray */
border-color:#898989;
color:#898989;
}

/*

other new styling:

*/
.news-seed a:hover {
color:#c8503c;
}

.controls input {
margin-left:0.5em;
margin-right:0.5em;
}


/*

new listing/bid swatch styling

*/

div.listing-seed {
margin-bottom:0.75em;
}




new backpack styling



*/


/* any backpack view wrapping: just the border and bg */
.bp-view {
background-color:#2e2b2a;
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
border:0.25em solid #2E2B2A;
}

/* any backpack */
div.bp { }

/* full width backpack */
div.bp-full {}

/* specific width for the full sized backpack placed/unplaced wrappers */
.any-full, div.bp-full div.bp-pages { width:58em; }

/* specific width for the slim sized backpack placed/unplaced wrappers */
.any-slim, div.bp-thin div.bp-pages, div.bp-slim div.bp-pages { width:29em; }

/* hide any overflow so we can slide the tables left and right */
div.bp-pages { overflow:hidden; }


div.bp td {
background-color:#3c352e;
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
border:0.25em solid #2E2B2A;
}
div.bp table.bp-unplaced td { background-color:#2E2B2A }

div.bp td, div.bp td > div {
height:4em !important;
max-height:4em !important;
max-width:5.15em !important;
min-height:4em !important;
min-width:5.15em !important;
position:relative;
text-align:center;
width:5.15em !important;
}

div.bp-nav {
white-space:nowrap !important;
}

div.bp-nav span.non, div.bp-nav span.nav a {
background-color:#766b5e;
border-radius:0.25em; -moz-border-radius:0.25em; -webkit-border-radius:0.25em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
}

div.bp-nav span.non { color:#2a2725; }
div.bp-nav span.nav a { color:#ece3cb; }
div.bp-nav span.nav a:hover { background-color:#924738; color:#ece3cb; }
div.bp-nav span.nav a:active  { color:#2a2725 !important;}

div.bp-nav span.bp-count {
color:#c8503c;
display:inline-block;
font-size:135%;
text-align:center;
vertical-align:middle;
width:2.5em; /* width instead of l/r margins to prevent button moving */
}


/* more new bits */
div.bp td.cannot-trade, div.bp td.active-listing, div.bp td.active-bid {
border-radius:0.75em; -moz-border-radius:0.75em; -webkit-border-radius:0.75em;
a-border:0.25em solid #252221;
}

div.bp .active-listing { border-color:#9d302f !important; }
div.bp .active-bid { border-color:#385c78 !important; }
div.bp .cannot-trade { background-color:#252221 !important; }

div.bp .selected {
background-color:#ece3cb !important;
border:0.25em solid #ece3cb !important;
}


div.bp .outline {
border:0.25em solid #847668;
}


div.bp td.selected-delete {
background-color:#9d302f !important;
border:0.25em solid #9d302f !important;
}


select.bp-nav-filter {
background-color:#2E2B2A;
border:2px solid #766B5E;
color:#766B5E;
font-size:1em;
height:2em;
margin-right:2em;
}

/* specific to reverse and advanced search: */
#bp-rv div.bp-pages, #bp-ac div.bp-pages {
width:23.25em;
}


.featured { border-color: red !important }
