@font-face {
font-family:"TF2";
src:url("/media/ttf/TF2.ttf");
}

@font-face {
font-family:"TF2Build";
src:url("/media/ttf/TF2Build.ttf");
}

@font-face {
font-family:"TF2secondary";
src:url("/media/ttf/TF2secondary.ttf");
}

* {
margin:0;
padding:0;
}

body {
background-color:#393431;
color:#ebe2ca;
font-family:"TF2secondary", Verdana, Arial, Sans-Serif;
font-size:1em;
}

a { color:#ece3cb; text-decoration:none; }
h1, h2, h3, h4 { font-family:"TF2Build"; }
h1 { color:#ebe2ca; font-size:135%; font-weight:bold; }
h2 { color:#827868; font-size:110%; }
img { border:none; }
label { display:block; font-family:"TF2Build"; }

.centered { margin:0 auto 0 auto; }
.clear { clear:both; }
.defindex-lazy { display:none; }
.null { display:none; }
.text-centered { text-align:center; }

.button, .small-button {
font-family:"TF2Build";
background-color:#766b5e;
border-bottom:none !important;
border-radius:0.25em; -moz-border-radius:0.25em;
color:#ece3cb;
height:1.5em;
line-height:1.5em;
padding:0.6em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
white-space:nowrap !important;
}

.button:hover, .small-button:hover {
background-color:#5b7a8c;
color:#ece3cb;
}

.small-button {
height:1em;
line-height:1em;
padding:0.35em 0.5em 0.25em 0.5em;
font-size:90%
}

.big-button {
background-color:#9a8b6b;
background: -webkit-gradient(linear, left top, left bottom, from(#dcd2ba), to(#9a8b6b));
background: -moz-linear-gradient(top, #dcd2ba, #9a8b6b);
font-family:"TF2Build";
border-radius:0.25em; -moz-border-radius:0.25em;
height:1.5em;
line-height:1.5em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
white-space:nowrap !important;
color:#2e2b2a;
}

.big-button:hover {
background-color:#512a20;
background: -webkit-gradient(linear, left top, left bottom, from(#995040), to(#512a20));
background: -moz-linear-gradient(top, #995040, #512a20);
color:#ebe2ca;
}


.ui-dialog-content, .ui-widget-content { background-color:#2e2b2a !important; }

div.detail-view,
div.organizer-view {
background-color:#2e2b2a;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #2E2B2A;
padding:0.5em;
}


div.organizer-view .outline {
border:0.25em solid #847668 !important;
}

div.organizer-view .selected {
background-color:#ece3cb !important;
border:0.25em solid #ece3cb !important;
}

div.organizer-view .selected-delete {
background-color:#9d302f !important;
border:0.25em solid #9d302f !important;
}


div.items-view table img,
div.organizer-view table img {
margin-left:0.575em;
height:4em !important;
}

div.items-view table td,
div.organizer-view table.chooser td,
div.organizer-view table.backpack td,
div.organizer-view table.unplaced td {
background-color:#3c352e;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #2E2B2A;
height:4em !important;
max-height:4em !important
max-width:5.15em !important;
min-height:4em !important
min-width:5.15em !important;
width:5.15em !important;
}

div.organizer-view table.unplaced td {
background-color:#2E2B2A
}

div.items-view table td div,
div.organizer-view table.chooser td div,
div.organizer-view table.backpack td div,
div.organizer-view table.unplaced td div {
height:4em !important;
width:100% !important;
}

div.organizer-view .cannot-trade {
background-color:#252221 !important;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #2E2B2A !important;
}

div.organizer-view .active-listing {
background-color:#1c201c !important;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #2E2B2A !important;
}

div.organizer-view div.tools {
margin:1em auto 1em auto;
}

div.organizer-view div.navs {
text-align:right;
whitespace:nowrap !important;
font-family:"TF2Build";
}

div.organizer-view div.tools div.navs span.nonav,
div.organizer-view div.tools div.navs span.nav a {
background-color:#766b5e;
border-bottom:none !important;
border-radius:0.25em;
-moz-border-radius:0.25em;
height:1.5em;
line-height:1.5em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
}

div.organizer-view div.tools div.navs span.nonav {
color:#2a2725;
}

div.organizer-view div.tools div.navs span.nav a {
color:#ece3cb;
}

div.organizer-view div.tools div.navs span.nav a:hover {
background-color:#924738;
color:#ece3cb;
}

div.organizer-view div.tools div.navs span.nav a:active  {
color:#2a2725 !important;
}

div.organizer-view div.tools div.navs span.pagecount {
color:#c8503c;
display:inline-block;
text-align:center;
width:2em;
font-size:135%;
vertical-align:middle;
}


/* more specific classes on all pages */
span.hilite { color:#c8503c; }
span.hilite:before { content:">> "; }

.bid-button, .login-button, .logout-button:hover, .submit:hover, .cancel:hover {
background-color:#9d302f;
color:#ece3cb;
}

/* ids on all pages */
#header-wrapper {
background-image:url('/media/img/header_bg.png');
background-repeat:repeat-x;
border-bottom:0.25em solid #84756b;
}

#header {
margin:0 auto 0 auto;
padding:1em 0 1em 0;
width:85%;
}

#main-logo {
width:275px; /* just over the size of the img */
float:left;
}

#site-buttons {
float:right;
white-space:nowrap;
a-margin-top:1em;
}

#site-buttons span, #site-buttons img {
vertical-align:middle;
}

#site-small-msg {
background-color:#111;
border-radius:0.5em; -moz-border-radius:0.5em;
border:3px solid #000;
opacity:0.5;
color:#fff;
font-family:Verdana, Arial, Sans-Serif;
font-weight:bold;
padding:0.5em 1.5em 0.5em 1em;
position:absolute;
right:7.5%;
top:4em;
}


#avatar {
height:38px;
width:38px;
display:inline-block;
margin-right:0.25em;
}

#avatar img {
border:0.2em solid #847668 !important;
border-radius:0.15em;
}

#content {
margin: 1em auto 0 auto;
width:85%;
 min-height:100%;
   position:relative;
}


/* specific to the add-listing page */
#add-listing-duration-slider {
margin:0.5em 0 1em 0;
width:75%;
float:right;
}

#add-listing-duration {
width:20%;
float:left;
padding-top:2%;
}

#add-listing-fields label {
margin-top:0.5em;
}
#add-listing-fields textarea {
margin-bottom:1em;
}

#add-listing-fields label a {
text-decoration:underline;
}


/* mark.  check remaining selectors */


/*
img.equipped {
margin-top:-8px;
}

img.equipped-133 {
margin-top:0;
}

img.equipped-183 {
margin-top:0;
}

img.unequipped-133 {
padding-top:0.5em;
}

*/


span.equipped {
background-color:black;
border-radius:0.5em; -moz-border-radius:0.5em;
color:#c8503c;
font-family:"TF2secondary";
font-size:0.85em;
padding:0.25em 0.4em 0.25em 0.4em;
position:relative;
display:block;
bottom:1.5em;
left:0.75em;
width:4.25em;
}

span.quantity {
background-color:black;
border-radius:0.5em;
-moz-border-radius:0.5em;
top:0.5em;
color:#c8503c;
font-family:"TF2secondary";
left:0.5em;
padding:0.2em 0.5em 0.2em 0.5em;
position:relative;
font-size:0.85em;
}

/*
.avatar,
#avatar img {
border:0.125em solid #847668 !important;
border-radius:0.125em;
margin-bottom:-0.125em;
}
*/


#footer {
color:#827868;
width:100%;
margin:0 auto 0 auto;
position:relative;
bottom:0;
height:3em;
padding-top:2em;
}


#footer .links {
line-height:1.5em;
font-size:80%;
margin-left:1em;
}


#footer a {
color:#c8bba2;
}


#footer a:hover {
border-bottom:0.125em solid #c8bba2;
}


#tooltip {
background:#000;
border-top:1px solid #786B5C;
border-bottom:1px solid #1B1815;
border-left:1px solid #453F36;
border-right:1px solid #453F36;
background: -webkit-gradient(linear, left top, left bottom, from(#38332D), to(#221E1A));
background: -moz-linear-gradient(top, #38332D, #221E1A);
border-radius:3px; -moz-border-radius:3px;
padding:0;
position:absolute;
text-align:center;
z-index:9002;
overflow:hidden;
}


#tooltip-top-shim {
padding-left:4px;
padding-right:4px;
border-top:1px solid #24201C;
}

#tooltip-inner {
padding:1em;
}


#tooltip h4 {
//color:#ffd700;
font-family:"TF2Build";
margin-bottom:1em;
white-space:nowrap;
font-size:12pt;
}

#tooltip h4.valve {
color:#aa00aa;
}


#tooltip h4.community {
color:#00aa00;
}

#tooltip .level, #tooltip .alt, #tooltip .positive, #tooltip .negative {
font-family:"TF2secondary";
font-size:11pt;
}


/*
from the tf2 wiki:

Colour Rarity Name
B2B2B2 Standard
476291 Vintage
FFD800 Unique
70B04A Community
A50F79 Developer
874FAD Unusual

*/
.quality-0  { color:#B2B2B2; } /* normal */
.quality-1  { color:#B2B2B2; } /* common */
.quality-2  { color:#B2B2B2; } /* rare */
.quality-3  {color: #476291; } /* vintage */
.quality-5  {color: #874FAD; } /* unusual */
.quality-6  {color: #FFD800; } /* unique */
.quality-7  {color: #70B04A; } /* community */
.quality-8  {color: #A50F79; } /* developer */
.quality-9  {color: #70B04A; } /* self-made */
.quality-10 {color: #70B04A; } /* custom */

#tooltip .level {
color:#756b5e;
}

#tooltip .vintage {
color:#476291;
}

#tooltip .alt {
color:#e4dbc4;
}


#tooltip .positive {
color:#8dbceb;
}


#tooltip .negative {
color:#eb3b3b;
}






.message div {
border-radius:0.75em; -moz-border-radius:0.75em;
color:#fff;
font-family:"TF2Build";
margin-bottom:0.5em;
margin-top:0.5em;
opacity:0.9;
padding:0.5em;
text-align:center;
}

.error {
background-color:rgba(157, 48, 47, 0.15);
border:0.25em solid rgba(189, 58, 58, 0.75);
}

.warning {
background-color:rgba(239, 152, 73, 0.35);
border:0.25em solid rgba(241, 129, 73, 0.75);
}


.information {
background-color:rgba(56, 92, 120, 0.5);
border:0.25em solid rgba(91, 122, 140, 0.5);
}

.m-05 { margin:0.5em; }
.m-1 { margin:1em; }
.m-2 { margin:2em; }
.m-b-05 { margin-bottom:0.5em; }
.m-b-1 { margin-bottom:1em; }
.m-l-1 { margin-left:1em; }
.m-lb-05 { margin-left:0.5em; margin-bottom:0.5em; }
.m-left-05 { margin-left:0.5em; }
.m-r-1 { margin-right:1em; }
.m-right-05 { margin-right:0.5em; }
.m-t-05 { margin-top:0.5em; }
.m-t-1 { margin-top:1em; }
.m-t-2 { margin-top:2em; }
.m-tb-1 { margin-top:1em; margin-bottom:1em; }
.p-t-05 { padding-top:0.5em; }
.p-tb-1 { padding-top:0.5em; padding-bottom:0.5em; }


.owner-links,
#filters {
font-family:"TF2Build";
margin:0.5em auto 0.5em auto;
}

.owner-links a,
#filters a {
border-bottom:1px solid;
}

.owner-links a:hover,
#filters a:hover {
color:#c8503c;
border-bottom:none;
}


.listings-large {
width:100%;
}

.listings-large tbody tr td {
a-border:1px dotted red;
}

.listings-large td.view-link {
border:1px solid green;
width:5em;
}

.listings-large tbody tr:last-child td:last-child {
a-border:1px solid blue;
padding-bottom:1em;
}

.listings-large td strong {
font-family:"TF2Build";
}



.cannot-trade img {
filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
opacity:0.5; /* TODO: add opacity to parent selectors, too */
}

div.organizer-view .active-listing img {
opacity:0.33;
}
