@import url("base.css") all;

body {
background-color:#393431;
color:#ebe2ca;
font-family:"TF2secondary";
font-size:1em;
min-width:1024px;
}

a { color:#ece3cb; text-decoration:none; }
h1, h2, h3, h4 { font-family:"TF2Build"; }
h1 { color:#ebe2ca; font-size:135%; font-weight:bold; }
h2 { color:#827868; font-size:110%; }
label { display:block }

.centered { margin:0 auto 0 auto; }
.clear { clear:both; }
.defindex-lazy { display:none; }
.null { display:none; }
.text-centered { text-align:center; }

.button a {
font-family:"TF2Build";
background-color:#766b5e;
border-bottom:none !important;
border-radius:0.25em;
-moz-border-radius:0.25em;
color:#ece3cb;
height:1.5em;
line-height:1.5em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
white-space:nowrap !important;
}
.button a:hover {
background-color:#5b7a8c;
color:#ece3cb;
}


.big-button {
background-color:#9a8b6b;
background: -webkit-gradient(linear, left top, left bottom, from(#dcd2ba), to(#9a8b6b));
background: -moz-linear-gradient(top, #dcd2ba, #9a8b6b);
font-family:"TF2Build";
border-radius:0.25em;
-moz-border-radius:0.25em;
height:1.5em;
line-height:1.5em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
white-space:nowrap !important;
}
.big-button a {
color:#2e2b2a;
}
.big-button:hover {
background-color:#512a20;
background: -webkit-gradient(linear, left top, left bottom, from(#995040), to(#512a20));
background: -moz-linear-gradient(top, #995040, #512a20);
}
.big-button:hover a {
color:#ebe2ca;
}


div.organizer-view {
background-color:#2e2b2a;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #2E2B2A;
padding:1em;
}

div.organizer-view .outline {
border:0.25em solid #847668 !important;
}

div.organizer-view .selected {
background-color:#ece3cb !important;
border:0.25em solid #ece3cb !important;
}


div.organizer-view table img {
margin-left:0.575em;
height:4em !important;
}

div.organizer-view table.chooser td, div.organizer-view table.backpack td {
-moz-border-radius:0.75em;
background-color:#3c352e;
border-radius:0.75em;
border:0.25em solid #2E2B2A;
height:4em !important;
max-height:4em !important
max-width:5.15em !important;
min-height:4em !important
min-width:5.15em !important;
width:5.15em !important;
}


div.organizer-view table.chooser td div, div.organizer-view table.backpack td div {
width:4em !important;
height:4em !important;
}


div.organizer-view .cannot-trade {
background-color:#252221 !important;
border-radius:0.75em; -moz-border-radius:0.75em;
border:0.25em solid #2E2B2A !important;
}


div.organizer-view div.tools {
margin:1em auto 1em auto;
}

div.organizer-view div.navs {
text-align:right;
whitespace:nowrap !important;
font-family:"TF2Build";
}
div.organizer-view div.tools div.navs span.nonav, div.organizer-view div.tools div.navs span.nav a {
background-color:#766b5e;
border-bottom:none !important;
border-radius:0.25em;
-moz-border-radius:0.25em;
height:1.5em;
line-height:1.5em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
}
div.organizer-view div.tools div.navs span.nonav {
color:#2a2725;
}
div.organizer-view div.tools div.navs span.nav a {
color:#ece3cb;
}
div.organizer-view div.tools div.navs span.nav a:hover {
background-color:#924738;
color:#ece3cb;
}
div.organizer-view div.tools div.navs span.nav a:active  {
color:#2a2725 !important;
}
div.organizer-view div.tools div.navs span.pagecount {
color:#c8503c;
display:inline-block;
text-align:center;
width:2em;
font-size:135%;
vertical-align:middle;
}


/* ids on all pages */
#profile-buttons {
width:70%;
margin:0 auto 0 auto;
padding-top:1em;
}


/* specific to the add-listing page */
#add-listing-duration-slider {
margin:0.5em 0 1em 0;
width:75%;
float:right;
}

#add-listing-duration {
width:20%;
float:left;
padding-top:2%;
}

#add-listing-fields label {
margin-top:0.5em;
}
#add-listing-fields textarea {
margin-bottom:1em;
}



/* mark.  check remaining selectors */





hr.character, hr.unplaced, hr.footer {
border:none;
}


img.equipped {
//margin-top:-8px;
}

img.equipped-133 {
//margin-top:0;
}

img.equipped-183 {
//margin-top:0;
}

img.unequipped-133 {
//padding-top:0.5em;
}


span.equipped {
background-color:black;
border-radius:0.5em;
-moz-border-radius:0.5em;
color:#c8503c;
font-family:"TF2secondary";
font-size:0.85em;
padding:0.25em 0.4em 0.25em 0.4em;
position:relative;
display:block;
bottom:1.5em;
left:0.75em;
width:4.25em;
}

span.quantity {
background-color:black;
border-radius:0.5em;
-moz-border-radius:0.5em;
top:0.5em;
color:#c8503c;
font-family:"TF2secondary";
left:0.5em;
padding:0.2em 0.5em 0.2em 0.5em;
position:relative;
font-size:0.85em;
}


span.hilite {
color:#c8503c;
}


span.hilite:before {
content:">> ";
}

/*
.button a, span.nonav, span.nav a, #controls a, #unknownProfile a, #stats table.stats a {
font-family:"TF2Build";
background-color:#766b5e;
border-bottom:none !important;
border-radius:0.25em;
-moz-border-radius:0.25em;
color:#ece3cb;
height:1.5em;
line-height:1.5em;
padding:0.5em 0.75em 0.5em 0.75em;
text-align:center;
vertical-align:middle;
white-space:nowrap !important;
}
*/



.login_button a, .logout_button a:hover {
background-color:#9d302f;
color:#ece3cb;
}




#login {
margin:1em auto 1em auto;
width:50%;
}

#login p { margin-top:1em; }
#login .login_link {
margin:1em auto 1em auto;
width:50%;
}



/*
table.unplaced td, table.backpack td, table.backpack-listing td {
max-height:4em !important
min-height:4em !important
width:5.15em !important;
max-width:5.15em !important;
min-width:5.15em !important;


table.unplaced td div, table.backpack td div, table.backpack-listing td div {
width:4em !important;
height:4em !important;
}

table.backpack-listing img, table.unplaced img, table.backpack img {
margin-left:0.575em;
height:4em !important
}

*/
/* gunboats image is too high from center */
/*
img[src='icons/133.png'] {
margin-top:6px; 
}


table.a-backpack td, table.b-backpack-listing td {
border-radius:0.75em;
-moz-border-radius:0.75em;
border:0.25em solid #2E2B2A;
background-color:#3c352e;
}

*/

/* the second selector is for only unplaced table cells w/o an image child */
/*
table.backpack td:hover, table.backpack-listing td:hover, .itemHover {
a-border:0.25em solid #847668;
}


}

.selected, table.backpack td.selected, table.backpack-listing td.selected, .itemSelected {
background-color:#ece3cb !important;
border:0.25em solid #ece3cb;
}


table.unplaced td {
border:0.25em solid #393431;
border-radius:0.75em;
-moz-border-radius:0.75em;
}

*/


#avatar {
}

#avatar img {
border:0.125em solid #847668 !important;
border-radius:0.125em;
margin-bottom:-0.125em;
}

/*

#backpack, #character, #unplaced, #backpack-a, #backpack-listing, #unplaced-a {
font-family:"TF2Build";
a-padding:1em 2em 1em 1em;
}


#backpack, #backpack-a, #backpack-listing {
background-color:#2e2b2a;
border-radius:1em;
-moz-border-radius:1em;
border:3px solid #2e2b2a;
padding-bottom:1.5em; 
}

#backpack-a, #backpack-listing {
padding:1em;
}

#backpack-header-a div {
font-family:"TF2secondary";
}

*/

#footer {
color:#827868;
width:70%;
margin:0 auto 0 auto;
a-border:1px solid yellow;
position:relative;
top:50%;
}


#footer .links {
line-height:1.5em;
font-size:80%;
margin-left:1em;
}


#footer a {
color:#c8bba2;
}


#footer a:hover {
border-bottom:0.125em solid #c8bba2;
}

#header_wrapper {
background-image:url('/media/img/header_bg.png');
background-repeat:repeat-x;
border-bottom:0.25em solid #84756b;
a-border:1px solid blue;
}

#header {
line-height:200%;
margin:0 auto 0 auto;
padding:1em 0 1em 0;
width:70%;
position:relative;
}

#content {
a-border:2px solid #84756b;
margin: 1em auto 0 auto;
width:70%;
a-padding:0.25em;
}

#header_button_wrapper {
white-space:nowrap;
position:absolute;
right:0;
bottom:1em;
}

#header_button_wrapper img {
vertical-align:bottom;
}

#header img {
}








#pages, #pages-a {
color:#c8503c;
display:inline-block;
text-align:center;
width:2em;
font-size:135%;
vertical-align:middle;
}


#steamID {
color:#c8bba1
}


#steamID a {
color:#c8bba2;
}


#steamID a:hover {
border-bottom:0.125em solid #c8bba2;
}



#tooltip {
background:#000;
border-top:1px solid #786B5C;
border-bottom:1px solid #1B1815;
border-left:1px solid #453F36;
border-right:1px solid #453F36;
background: -webkit-gradient(linear, left top, left bottom, from(#38332D), to(#221E1A));
border-radius:3px;
-moz-border-radius:3px;
padding:0;
position:absolute;
text-align:center;
z-index:9002;
overflow:hidden;
}


#tooltip-top-shim {
padding-left:4px;
padding-right:4px;
border-top:1px solid #24201C;
}

#tooltip-inner {
padding:1em;
}


#tooltip h4 {
//color:#ffd700;
font-family:"TF2Build";
margin-bottom:1em;
white-space:nowrap;
font-size:12pt;
}

#tooltip h4.valve {
color:#aa00aa;
}


#tooltip h4.community {
color:#00aa00;
}

#tooltip .level, #tooltip .alt, #tooltip .positive, #tooltip .negative {
font-family:"TF2secondary";
font-size:11pt;
}

/*
from the tf2 wiki:

Colour Rarity Name
B2B2B2 Standard
476291 Vintage
FFD800 Unique
70B04A Community
A50F79 Developer
874FAD Unusual

*/
.quality-0  { color:#B2B2B2; } /* normal */
.quality-1  { color:#B2B2B2; } /* common */
.quality-2  { color:#B2B2B2; } /* rare */
.quality-3  {color: #476291; } /* vintage */
.quality-5  {color: #874FAD; } /* unusual */
.quality-6  {color: #FFD800; } /* unique */
.quality-7  {color: #70B04A; } /* community */
.quality-8  {color: #A50F79; } /* developer */
.quality-9  {color: #70B04A; } /* self-made */
.quality-10 {color: #70B04A; } /* custom */

#tooltip .level {
color:#756b5e;
}

#tooltip .vintage {
color:#476291;
}

#tooltip .alt {
color:#e4dbc4;
}


#tooltip .positive {
color:#8dbceb;
}


#tooltip .negative {
color:#eb3b3b;
}


#unknownProfile {
color:#c8bba2;
display:none;
font-family:"TF2Build";
text-align:center;
width:80%;
}


#unknownProfile input[type="text"] {
color:black;
font-family:"TF2secondary";
font-size:14pt;
padding:0.25em;
margin:1em auto 0.5em auto;
}


#unknownProfile h1 {
margin:1em auto 1em auto;
}

#unknownProfile div:last-child {
margin-top:1em;
}



#toolbar, #toolbar-a {
margin:1em auto 1em auto;
}


#controls {
float:left;
}

// what?
#refresh a:hover {
border-bottom:0.125em solid #c8bba2;
}

#stats {
color:#827868;
margin:1em auto 1em auto;
}

#stats table.stats {
padding-top:1em;
width:100%;
}

table.stats td {
}

table.stats span, table.stats div {
color:#ebe2ca;
}

table.stats div {
margin-left:1em;
}

.messages div {
border-radius:0.75em;
-moz-border-radius:0.75em;
margin-right:5em;
opacity:0.9;
text-align:center;
color:#fff;
}

#error {
background-color:rgba(157, 48, 47, 0.15);
border:0.25em solid rgba(189, 58, 58, 0.75);
}

#warning {
background-color:rgba(239, 152, 73, 0.35);
border:0.25em solid rgba(241, 129, 73, 0.75);
}


#information {
background-color:rgba(56, 92, 120, 0.5);
border:0.25em solid rgba(91, 122, 140, 0.5);
}

:lang(ru) {
display:none;
}

:lang(pt) {
display:none;
}

:lang(nl) {
display:none;
}


div.backpack-header {
padding-bottom:0.125em;
padding-top:0.125em;
}

div.backpack-header h1 {
display:inline
}


span.showstock {
color:#ebe2ca;
font-size:110%;
padding-left:5em;
}

#showstock {
vertical-align:middle;
cursor:pointer;
}




.p-top-05 {
padding-top:0.5em;
}

.m-1 { margin:1em; }

.m-top-1 {
margin-top:1em;
}

.m-bot-05 {
margin-bottom:0.5em;
}

.m-right-05 {
margin-right:0.5em;
}

#filters {
font-family:"TF2Build";
margin:0.5em auto 0.5em auto;
width:90%;
}

#filters a {
border-bottom:1px solid;
}

#filters a:hover {
color:#c8503c;
border-bottom:none;
}


.listings-large {
width:100%;
}

.listings-large tbody tr td {
border:1px dotted red;
}


.cannot-trade img {
filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
opacity:0.5; /* TODO: add opacity to parent selectors, too */
}
