* {
margin:0;
padding:0;
}


@font-face {
font-family:"TF2";
src:url("/media/TF2.ttf");
}


@font-face {
font-family:"TF2Build";
src:url("/media/TF2Build.ttf");
}


@font-face {
font-family:"TF2secondary";
src:url("/media/TF2secondary.ttf");
}

:lang(ja) {
font-family: "Arial", sans-serif !important;
}